In [25]:
import pyranges as pr
import seaborn as sns
import yaml
import os
import sys
from snakemake.io import expand

p = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))+'/scripts/'
print(p)
sys.path.append(p)

from sm_utils import *

/Users/fairliereese/Documents/programming/mele_lab/projects/240706_pantranscriptome_cerberus_gtf_merge/scripts/

In [26]:
config = load_config()
od = '../../../'

In [27]:
analysis = 'pseudomasked_genomic_isoquant_guided'
tool = 'iq'
config_tsv = od+f'snakemake/config_{analysis}.tsv'
df = parse_config(config_tsv)
df = df.loc[df.tech_rep.isin(['GM10493_1'])]

tech_rep = df.tech_rep.tolist()

In [28]:
files = expand(od+config['fmt']['novel_gene_rename_gtf'], 
       tech_rep=tech_rep,
       analysis=analysis)
for f in files:
    df = pr.read_gtf(f).df
    break

In [29]:
beep = df.loc[df.gene_id.str.contains('novel')].gene_id.unique().tolist()
print(len(beep))

1049

In [23]:
old_f = '../raw/2_PY2_GM10493.transcript_models.gtf'
old_df = pr.read_gtf(old_f).df

# limit to novel genes
old_df = old_df.loc[(old_df.Feature=='gene')&\
           (old_df.gene_id.isin(get_gtf_novel_genes(old_df, 'iq')))]
old_df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcripts,...,exon_id,havana_gene,hgnc_id,havana_transcript,similar_reference_id,alternatives,protein_id,transcript_support_level,ccdsid,artif_dupl
318,KI270442.1,IsoQuant,gene,383815,385462,.,-,.,novel_gene_KI270442.1_3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810,chr1,IsoQuant,gene,3772728,3775956,.,+,.,novel_gene_chr1_384,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
850,chr1,IsoQuant,gene,5040354,5053055,.,+,.,novel_gene_chr1_402,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077,chr1,IsoQuant,gene,5992652,6018963,.,+,.,novel_gene_chr1_437,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1124,chr1,IsoQuant,gene,6624820,6633562,.,+,.,novel_gene_chr1_549,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# verify that novel gene renaming worked? 
# not sure how tho

# limit to novel genes
df = df.loc[(df.Feature=='gene')&\
       (df.Source=='IsoQuant')]

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcripts,...,exon_id,similar_reference_id,alternatives,transcript_support_level,protein_id,havana_gene,hgnc_id,havana_transcript,ccdsid,artif_dupl
649,chr1,IsoQuant,gene,3772727,3775953,.,+,.,novel_gene_2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2347,chr1,IsoQuant,gene,23911052,23912667,.,+,.,novel_gene_7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2970,chr1,IsoQuant,gene,27658749,27670187,.,+,.,novel_gene_8,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3267,chr1,IsoQuant,gene,28329014,28335967,.,+,.,novel_gene_11,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4271,chr1,IsoQuant,gene,33903538,33906044,.,+,.,novel_gene_12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364448,chrX,IsoQuant,gene,104130922,104157010,.,-,.,novel_gene_1542,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364502,chrX,IsoQuant,gene,109731982,109733236,.,-,.,novel_gene_1544,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365820,chrX,IsoQuant,gene,154428638,154436514,.,-,.,novel_gene_1550,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366319,chrY,IsoQuant,gene,12662354,12688277,.,+,.,novel_gene_1551,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366431,chrY,IsoQuant,gene,21228126,21279227,.,+,.,novel_gene_1552,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.loc[df.gene_id.str.contains('novel_gene')].head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcripts,...,exon_id,similar_reference_id,alternatives,hgnc_id,protein_id,transcript_support_level,havana_gene,havana_transcript,ccdsid,artif_dupl
502,chr1,IsoQuant,gene,1462908,1468645,.,+,.,novel_gene_1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,chr1,IsoQuant,transcript,1462908,1468645,.,+,.,novel_gene_1,NaN,...,NaN,ENST00000484537.2,"alternative_structure_novel:1463059-1468383,te...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,chr1,IsoQuant,exon,1462908,1463058,.,+,.,novel_gene_1,NaN,...,chr1.272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,chr1,IsoQuant,exon,1468383,1468645,.,+,.,novel_gene_1,NaN,...,chr1.273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
705,chr1,IsoQuant,gene,3772719,3775956,.,+,.,novel_gene_2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN