In [11]:
import pyranges as pr

In [12]:
df = pr.read_gtf('novel_gene_build_loci_merged.gtf', as_df=True)

In [13]:
df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,transcript_id,exon_number,gene_id
0,chr19,FLAIR,exon,16689352,16690023,.,-,.,04c7ac61-c403-4714-ae1a-cb2d0b1e69b5:0_2-0,0,LOC_000000008227
1,chr12,FLAIR,transcript,117143792,117145560,.,-,.,3a797189-d18a-4e37-8292-70a9ae58c585:0-0,NaN,LOC_000000013460
2,chr5,FLAIR,transcript,158408078,158409289,.,-,.,ef8a692a-b6ba-4dbb-8598-268de5fff83c:0-0,NaN,LOC_000000006161
3,chr8,FLAIR,exon,78804472,78805822,.,-,.,5622154d-54c1-4dd0-a21b-46e1942dcbc1:0-0,0,LOC_000000078217
4,chr1,FLAIR,exon,112398545,112398818,.,+,.,c5dbe448-ccd7-4170-a3dd-7e1dfd5a2a9a:0-0,0,LOC_000000146034

In [4]:
# do entries w/ the same transcript ID 
# always have the same gene ID?
temp = df[['transcript_id', 'gene_id']].drop_duplicates()
temp = temp.groupby('transcript_id').nunique().reset_index().rename({'gene_id':'n_genes'}, axis=1)

In [6]:
temp.loc[temp.n_genes>1]

Empty DataFrame
Columns: [transcript_id, n_genes]
Index: []

In [10]:
temp = df[['transcript_id', 'gene_id']].drop_duplicates()
temp.loc[temp.gene_id=='LOC_000000008227']

                                     transcript_id           gene_id
0       04c7ac61-c403-4714-ae1a-cb2d0b1e69b5:0_2-0  LOC_000000008227
43070     28a62147-565a-47ee-88bb-41af6309de12:0-0  LOC_000000008227
143796    c9e1834d-9fa1-4dc4-b93a-7be1fa1f7ed3:0-0  LOC_000000008227
191141    e4ddc979-24c0-4bb9-94dd-49f77b14e50d:0-0  LOC_000000008227
191593    5594fca8-0109-427d-9d2e-e545901424e0:0-0  LOC_000000008227
247254    e38de1ab-7de2-4f91-8510-05e23cdb509c:0-0  LOC_000000008227
249164    96361ba5-da3c-4b23-a93e-5b2f1946a948:0-0  LOC_000000008227
300626    d4b52b05-8daf-43f0-87b5-4225b0c5f05f:0-0  LOC_000000008227
341305    444ae1cb-65e6-455a-b9fd-107dff24449b:0-0  LOC_000000008227
393210    18882433-b38d-4bd2-b782-125c7f051277:0-0  LOC_000000008227
453211    3e425fb2-0dc9-4a27-a3f1-b298da0ac16c:0-0  LOC_000000008227
459166    81f2b877-28f2-406f-a1df-42886be2eb8a:0-0  LOC_000000008227
498069    fcefe59d-6241-45e6-82f1-8e320e91909c:0-0  LOC_000000008227