In [5]:
import  cerberus
import glob
import pyranges as pr
import pandas as pd

In [6]:
df = pr.read_gtf('merged.gtf', as_df=True)

In [8]:
df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,gene_type,...,transcript_type,tag,tes_last_sa_issue,tss_first_sd_issue,transcript_support_level,protein_id,havana_transcript,ccdsid,hgnc_id,havana_gene
0,GL000008.2,NaN,gene,83306,88854,.,+,.,ENSG00000296732.1,lncRNA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GL000008.2,HAVANA,transcript,83306,88829,.,+,.,ENSG00000296732.1,lncRNA,...,lncRNA,TAGENE,False,False,NaN,NaN,NaN,NaN,NaN,NaN
2,GL000008.2,HAVANA,exon,83306,83545,.,+,.,ENSG00000296732.1,NaN,...,lncRNA,TAGENE,False,False,NaN,NaN,NaN,NaN,NaN,NaN
3,GL000008.2,HAVANA,exon,83926,84014,.,+,.,ENSG00000296732.1,NaN,...,lncRNA,TAGENE,False,False,NaN,NaN,NaN,NaN,NaN,NaN
4,GL000008.2,HAVANA,exon,85566,85625,.,+,.,ENSG00000296732.1,NaN,...,lncRNA,TAGENE,False,False,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# duplicated genes?
gb_cols = ['Chromosome',
             'Feature',
             'Start', 'End',
             'Score', 'Strand', 'Frame', 'gene_id', 'gene_name',
             'gene_status', 'gene_type', 'talon_gene',
             'ic', 'ic_id', 'tss_id', 'tss', 'tes_id', 'tes', 'transcript_id',
             'transcript_name']
gb_cols = list(set(df.columns)&set(gb_cols))
temp = df.loc[df.Feature=='gene']
temp.loc[temp.gene_id.duplicated(keep=False)].sort_values(by='gene_id')[gb_cols].head()
# assert len(temp.loc[temp.gene_id.duplicated()].index) == 0

,Chromosome,transcript_name,gene_type,End,Feature,Start,gene_name,tss,Strand,Score,ic,tes_id,gene_id,transcript_id,Frame,tss_id,ic_id,tes
407427,chr20,NaN,protein_coding,50958580,gene,50934856,ENSG00000000419.14,NaN,-,.,NaN,NaN,ENSG00000000419.14,NaN,.,NaN,NaN,NaN
407426,chr20,NaN,protein_coding,50958580,gene,50934856,ENSG00000000419.14,NaN,-,.,NaN,NaN,ENSG00000000419.14,NaN,.,NaN,NaN,NaN
407425,chr20,NaN,protein_coding,50958580,gene,50934856,ENSG00000000419.14,NaN,-,.,NaN,NaN,ENSG00000000419.14,NaN,.,NaN,NaN,NaN
35663,chr1,NaN,protein_coding,169893984,gene,169849620,ENSG00000000457.14,NaN,-,.,NaN,NaN,ENSG00000000457.14,NaN,.,NaN,NaN,NaN
35662,chr1,NaN,protein_coding,169893984,gene,169849620,ENSG00000000457.14,NaN,-,.,NaN,NaN,ENSG00000000457.14,NaN,.,NaN,NaN,NaN

In [7]:
temp = df.loc[df.Feature=='transcript']
temp.loc[temp.transcript_id.duplicated(keep=False)].sort_values(by='transcript_id')[['gene_id', 'transcript_id']]

Empty DataFrame
Columns: [gene_id, transcript_id]
Index: []

In [9]:
temp = df.loc[df.Feature=='gene']
temp.loc[temp.gene_id.duplicated(keep=False)].sort_values(by='gene_id')[['gene_id', 'transcript_id']]

                      gene_id transcript_id
144308  novel_gene_chr16_3244           NaN
151675  novel_gene_chr16_3244           NaN
162142  novel_gene_chr17_1489           NaN
174599  novel_gene_chr17_1489           NaN
20595    novel_gene_chr1_9997           NaN
41310    novel_gene_chr1_9997           NaN
269948    novel_gene_chr3_793           NaN
281914    novel_gene_chr3_793           NaN
355008     novel_gene_chr7_59           NaN
345560     novel_gene_chr7_59           NaN
375774   novel_gene_chr9_1047           NaN
383051   novel_gene_chr9_1047           NaN
375798   novel_gene_chr9_1367           NaN
383071   novel_gene_chr9_1367           NaN
375932   novel_gene_chr9_3435           NaN
383287   novel_gene_chr9_3435           NaN
375974    novel_gene_chr9_401           NaN
383325    novel_gene_chr9_401           NaN