In [9]:
import  cerberus
import glob
import pyranges as pr
import pandas as pd

In [42]:
df = pd.DataFrame()
for f in glob.glob('*gtf'):
    df = pd.concat([pr.read_gtf(f, as_df=True), df], axis=0)
    break

In [43]:
temp = df.loc[df.Feature=='transcript']
temp.loc[temp.transcript_id.duplicated(keep=False)].sort_values(by='transcript_id')

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,ic,...,tss,tes_id,tes,transcript_id,transcript_name,gene_name,tes_last_sa_issue,original_transcript_id,original_transcript_name,tss_first_sd_issue
114,GL000195.1,NaN,transcript,48901,86687,.,-,.,NA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,GL000205.2,NaN,transcript,137791,145075,.,-,.,NA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,GL000219.1,NaN,transcript,98559,99612,.,+,.,NA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11357,chr1,NaN,transcript,70205727,70208101,.,+,.,NA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11360,chr1,NaN,transcript,70205732,70215360,.,+,.,NA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = cerberus.sort_gtf(df)

In [13]:
print(len(df.index))
df = cerberus.agg_gtf(df)
print(len(df.index))

401447
399412

In [15]:
# duplicated genes?
temp = df.loc[df.Feature=='gene']
temp.loc[temp.gene_id.duplicated(keep=False)].sort_values(by='gene_id').head()
assert len(temp.loc[temp.gene_id.duplicated()].index) == 0

In [17]:
# duplicated transcripts?
temp = df.loc[df.Feature=='transcript']
temp.loc[temp.transcript_id.duplicated(keep=False)].sort_values(by='transcript_id')
# assert len(temp.loc[temp.transcript_id.duplicated()].index) == 0

,Chromosome,Feature,Start,End,Score,Strand,Frame,gene_id,ic,ic_id,...,tes_id,tes,transcript_id,transcript_name,gene_name,tes_last_sa_issue,Source,original_transcript_name,tss_first_sd_issue,original_transcript_id
199754,chrX,transcript,100627097,100636831,.,-,.,ENSG00000000003.16,1.0,ENSG00000000003_1,...,ENSG00000000003_1,1.0,"ENSG00000000003[1,1,1]","ENSG00000000003[1,1,1]",ENSG00000000003,False,annotated_isoform,ENST00000373020.9,False,ENST00000373020.9
199753,chrX,transcript,100627097,100636831,.,-,.,ENSG00000000003.16,1.0,ENSG00000000003_1,...,ENSG00000000003_1,1.0,"ENSG00000000003[1,1,1]","ENSG00000000003[1,1,1]",ENSG00000000003,False,annotated_isoform,ENST00000373020.9,False,ENST00000373020.9
0,chr1,transcript,169795014,169804357,.,+,.,ENSG00000000460.17,4.0,ENSG00000000460_4,...,ENSG00000000460_2,2.0,"ENSG00000000460[1,4,2]","ENSG00000000460[1,4,2]",ENSG00000000460,False,annotated_isoform,ENST00000496973.5,False,ENST00000496973.5
1,chr1,transcript,169795014,169804357,.,+,.,ENSG00000000460.17,4.0,ENSG00000000460_4,...,ENSG00000000460_2,2.0,"ENSG00000000460[1,4,2]","ENSG00000000460[1,4,2]",ENSG00000000460,False,annotated_isoform,ENST00000496973.5,False,ENST00000496973.5
199828,chr1,transcript,27612281,27626265,.,-,.,ENSG00000000938.13,3.0,ENSG00000000938_3,...,ENSG00000000938_2,2.0,"ENSG00000000938[3,3,2]","ENSG00000000938[3,3,2]",ENSG00000000938,False,annotated_isoform,ENST00000399173.5,False,ENST00000399173.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395602,chr9,transcript,24329,25007,.,-,.,NA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395603,chr9,transcript,24329,25007,.,-,.,NA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395604,chr9,transcript,24328,25007,.,-,.,NA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395605,chr9,transcript,23296,25007,.,-,.,NA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395606,chr9,transcript,20189,25007,.,-,.,NA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
gb_cols = ['Chromosome',
                 'Feature',
                 'Start', 'End',
                 'Score', 'Strand', 'Frame', 'gene_id', 'gene_name',
                 'gene_status', 'gene_type', 'talon_gene',
                 'ic', 'ic_id', 'tss_id', 'tss', 'tes_id', 'tes', 'transcript_id',
                 'transcript_name']
gb_cols = list(set(temp.columns)&set(gb_cols))

In [20]:
temp = temp[gb_cols]
print(len(temp.index))
temp.drop_duplicates(inplace=True)
print(len(temp.index))

67390
44489

In [21]:
def collapse_non_gb_col(x):
    x = x.fillna('')
    x = x.astype(str)
    x = x.unique().tolist()
    x = ','.join(x)
    if x == '':
        x = np.nan
    return(x)

gb_cols = ['Chromosome',
             'Feature',
             'Start', 'End',
             'Score', 'Strand', 'Frame', 'gene_id', 'gene_name',
             'gene_status', 'gene_type', 'talon_gene',
             'ic', 'ic_id', 'tss_id', 'tss', 'tes_id', 'tes', 'transcript_id',
             'transcript_name']
gb_cols = list(set(df.columns)&set(gb_cols))

# get dictionary:function mapping for aggregation
agg_cols = list(set(df.columns)-set(gb_cols))
agg_dict = dict()
for c in agg_cols:
    agg_dict[c] = collapse_non_gb_col

# get collapsed features to add to deduplicated df
t_df = df.loc[df.Feature == 'transcript'].copy(deep=True)

non_gb_cols = list(set(t_df.columns.tolist())-set(gb_cols))
t_df[non_gb_cols].fillna('', inplace=True)
t_df = t_df.groupby(gb_cols, observed=True).agg(agg_dict).reset_index()
t_df = t_df[['transcript_id']+non_gb_cols]
collapsed_feats = t_df.copy(deep=True)

# # replace the non gb columns with the ones that we already grouped
# df.drop(non_gb_cols, axis=1, inplace=True)
# df = df.merge(collapsed_feats, how='left', on='transcript_id'

In [26]:
print(len(t_df.index))
print(len(t_df.transcript_id.unique()))
t_df.head()

42103
42103

,transcript_id,Source,tes_last_sa_issue,original_transcript_name,tss_first_sd_issue,original_transcript_id
0,"ENSG00000000003[1,1,1]",annotated_isoform,False,ENST00000373020.9,False,ENST00000373020.9
1,"ENSG00000000419[1,1,1]",annotated_isoform,False,ENST00000371588.10,False,ENST00000371588.10
2,"ENSG00000000419[1,10,10]",annotated_isoform,False,ENST00000684628.1,False,ENST00000684628.1
3,"ENSG00000000457[1,1,1]",annotated_isoform,False,ENST00000367771.11,False,ENST00000367771.11
4,"ENSG00000000457[3,3,2]",annotated_isoform,False,ENST00000367772.8,False,ENST00000367772.8

In [27]:
print(len(collapsed_feats.index))
print(len(collapsed_feats.transcript_id.unique()))
collapsed_feats.head()

42103
42103

,transcript_id,Source,tes_last_sa_issue,original_transcript_name,tss_first_sd_issue,original_transcript_id
0,"ENSG00000000003[1,1,1]",annotated_isoform,False,ENST00000373020.9,False,ENST00000373020.9
1,"ENSG00000000419[1,1,1]",annotated_isoform,False,ENST00000371588.10,False,ENST00000371588.10
2,"ENSG00000000419[1,10,10]",annotated_isoform,False,ENST00000684628.1,False,ENST00000684628.1
3,"ENSG00000000457[1,1,1]",annotated_isoform,False,ENST00000367771.11,False,ENST00000367771.11
4,"ENSG00000000457[3,3,2]",annotated_isoform,False,ENST00000367772.8,False,ENST00000367772.8

In [28]:
# deduplicate df based only on transcript id
temp = df[['transcript_id', 'original_transcript_id']].drop_duplicates()
print(len(temp.index))
dupe_old_tids = temp.loc[temp.transcript_id.duplicated(keep='first'), 'original_transcript_id']
df = df.loc[~df.original_transcript_id.isin(dupe_old_tids)]

42104

In [41]:
temp.loc[temp.transcript_id.duplicated()].head()

Empty DataFrame
Columns: [transcript_id, original_transcript_id]
Index: []

In [38]:
# temp2 = temp[['transcript_id', 'original_transcript_id']].merge(t_df[['transcript_id', 'original_transcript_id', 'Source']],
#                                                                 how='outer', on=['transcript_id', 'original_transcript_id'])

In [39]:
# temp2.loc[temp2.Source.isnull()]