In [1]:
import  cerberus
import glob
import pyranges as pr
import pandas as pd

In [2]:
df = pd.DataFrame()
for f in glob.glob('*gtf'):
    print(f)
    df = pd.concat([pr.read_gtf(f, as_df=True), df], axis=0)
    break

2_PY2_GM10493.transcript_models.gtf

In [3]:
df.head()

,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,gene_id,transcripts,...,exon_id,havana_gene,hgnc_id,havana_transcript,similar_reference_id,alternatives,protein_id,transcript_support_level,ccdsid,artif_dupl
0,chr1,HAVANA,gene,199107,199882,.,+,.,ENSG00000308625.1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr1,HAVANA,transcript,199107,199866,.,+,.,ENSG00000308625.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr1,HAVANA,exon,199107,199576,.,+,.,ENSG00000308625.1,NaN,...,chr1.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr1,HAVANA,exon,199714,199866,.,+,.,ENSG00000308625.1,NaN,...,chr1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr1,HAVANA,gene,266752,284291,.,+,.,ENSG00000286448.2,2,...,NaN,OTTHUMG00000194680.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
temp = df.loc[df.Feature=='transcript']
temp.loc[temp.transcript_id.duplicated(keep=False)].sort_values(by='transcript_id')

Empty DataFrame
Columns: [Chromosome, Source, Feature, Start, End, Score, Strand, Frame, gene_id, transcripts, gene_type, gene_name, transcript_id, exons, transcript_type, transcript_name, tag, exon, exon_id, havana_gene, hgnc_id, havana_transcript, similar_reference_id, alternatives, protein_id, transcript_support_level, ccdsid, artif_dupl]
Index: []

[0 rows x 28 columns]